<div class='4u 12u(mobile) article-item'>
    <a href='{{url}}' target='_blank'>
        <section class='box style1'>
            <h4>{{title}}</h4>
            <p> <span class='latest-entry-content-item-source'>[saw on {{source}}]</span></p> 
        </section>
    </a>
</div>
