@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle Regular'), local('NewsCycle-Regular'), url(/fonts/news-cycle.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url(/fonts/open-sans.woff) format('woff');
}
@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: normal;
  src: local('Century Gothic'), url(/fonts/century-gothic.woff) format('woff');
}
